@model IEnumeraler<FoodFinder.Web.Model.Comment>
@{
    ViewData["Title"] = "Comment";
}

<nav >
    <ul class="pager">
        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>Newer</a></li>
        <li class="next disabled"><a href="#">Older<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>


<a asp-area="" asp-controller="Comment" asp-action="Create" class="btn btn-primary" role="button">Giv you comment</a>

<div class="blog-posts">
    @foreach (var comment in Model)
    {
        @Html.Partial("_Comment",comment)
    }
</div>