@page
@{
    Layout = "_Layout";
}


<div class="h1">Features</div>
<p>This is an overview of the features in all the elements of the system</p>
<p>If you have suggestions to features, please let me know, then I will concider</p>
<div class="h2">Current implemented features</div>
<div class="h3">API Back-end</div>
<ul>
    <li>API key</li>
    <li>SQL Database</li>
    <li>
        REST api
        <ul>
            <li>GET</li>
            <li>POST</li>
        </ul>
    </li>
</ul>

<div class="h3">WEB Front-end</div>
<ul>
    <li>Login using Auth0</li>
    <li>Add comments to site (need some work)</li>
    <li>Boodstrap 3, Razor web front-end</li>
</ul>

<div class="h3">iOS app</div>
<p>The app downloads all the venues, and display the venues</p>
<ul>
    <li>Download all venues when app is started (only when started, and all venues are updated)</li>
    <li>Show list and update list when local storage is updated</li>
    <li>Down and show menu and reviews, when a Venue is selected in the tableview</li>
    <li>Show venues on map <span class="small">(<strong>note:</strong> the app will crash if latitude and longitude don't have values)</span></li>
</ul>


<div class="h3">Android app</div>
<p>Not started yet</p>

<hr>
<div class="h2">Planned features</div>
<div class="h3">API back-end</div>
<ul>
    <li>
        Notification, an interface to push notifications to front-end
        <ul>
            <li>APNS, Apple Push notification (data update)</li>
            <li>Android push (data update)</li>
        </ul>
    </li>
</ul>

<div class="h3">Web front-end</div>
<p>No planed updates</p>


<div class="h3">iOS app</div>
<p>Upload iOS 10 version of app</p>
<ul>
    <li>Login to backend</li>
    <li>"Push" data update local data</li>
</ul>

<div class="h3">Android app</div>
<p>basic functionality, written in kotlin</p>